@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-weight: 200;
  color: gray;
  border-radius: 10px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: 300;
  color: gray;
  border-radius: 10px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: 300;
  color: gray;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-weight: 300;
  color: gray;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 253, 255);
}

#root {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#app-container {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 1em;
}

.editor-form {
  display: flex;
  flex-direction: column;
}

.edit-form-container h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  color: rgb(168, 76, 255);
}

.form-row-left {
  margin-bottom: 10px;
}

.form-row-left input {
  padding: 10px;
  font-size: 500;
  background-color: rgb(243, 242, 242);
  border: none;
  border-radius: 10px;
}

.form-row-right {
  float: right;
}

#todo-text {
  width: 100%;
}

#total-counter-text {
  font-weight: 400;
  color: cornflowerblue;
}

.todo-list-container h2 {
  font-weight: 300;
  color: rgb(253, 80, 49);
  
}

#total-counter-number {
  padding-left: 5px;
  font-weight: 300;
  color: coral;
}

.list-filter-container {
  margin: 16px 0;
  font-weight: 400;
  color: rgb(100, 205, 237);
}

.empty-list {
  font-weight: 300;
  color: crimson;
}

.item {
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 255, 222);
}

.item > h3 {
  margin: 0;
  padding: 10px;
  font-size: large;
  font-weight: 400;
  color: darkcyan;
}

#todo-list {
  margin-bottom: 20px;
}

.info-block {
  display: flex;
  padding-left: 10px;
  font-size: small;
  color: rgb(156, 156, 156);
}

.status-panel {
  flex-grow: 4;
}

.created-date-panel {
  flex-grow: 1;
  text-align: right;
}

.done-date-panel {
  flex-grow: 1;
  text-align: right;
}

#add-todo-button, 
#clear-form-button {
  min-width: 60px;
  padding: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

#add-todo-button {
  background-color: rgb(185, 110, 255);
}

#add-todo-button:hover {
  color: rgb(132, 0, 255);
  background-color: rgb(185, 110, 255, 0.7);
  transition: color 0.3s;
}

#clear-form-button {
  margin-left: 5px;
  background-color: lightskyblue;
}

#clear-form-button:hover {
  color: rgb(0, 81, 255);
  background-color: rgb(190, 230, 255);
  transition: color 0.3s;
}

.control-block {
  text-align: right;
}

.view-button {
  margin: 5px;
  min-width: 120px;
  padding: 8px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  background-color: rgb(0, 255, 170);
  transition: color 0.3s;
  cursor: pointer;
}

.postpone-button {
  min-width: 120px;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  background-color: rgb(255, 183, 50);
  transition: color 0.3s;
  cursor: pointer;
}

.resume-button {
  min-width: 120px;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  background-color: rgb(55, 255, 55);
  transition: color 0.3s;
  cursor: pointer;
}

.delete-button {
  min-width: 120px;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  background-color: rgb(255, 90, 90);
  transition: color 0.3s;
  cursor: pointer;
}

.done-button {
  min-width: 120px;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: #fff;
  background-color: rgb(100, 100, 255);
  transition: color 0.3s;
  cursor: pointer;
}

.back-to-list-button {
  min-width: 120px;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-size: medium;
  border: none;
  color: rgb(255, 115, 0);
  background-color: rgb(255, 235, 50);
  transition: color 0.3s;
  cursor: pointer;
}

.done-button:hover {
  background: rgb(100, 100, 255, 0.3);
  color: rgb(0, 0, 255);
  box-shadow: inset 0 0 0 3px rgb(100, 100, 255);
  transition: color 0.3s;
}

.view-button:hover {
  background: rgb(0, 255, 170, 0.3);
  color: rgb(0, 170, 113);
  box-shadow: inset 0 0 0 3px rgb(0, 255, 170);
  transition: color 0.3s;
}

.postpone-button:hover {
  background: rgb(255, 183, 50, 0.3);
  color: rgb(253, 165, 0);
  box-shadow: inset 0 0 0 3px rgb(255, 183, 50);
  transition: color 0.3s;
}

.resume-button:hover {
  background: rgb(55, 255, 55, 0.3);
  color: rgb(0, 170, 0);
  box-shadow: inset 0 0 0 3px rgb(55, 255, 55);
  transition: color 0.3s;
}

.delete-button:hover {
  background: rgb(255, 90, 90, 0.3);
  color: rgb(252, 0, 0);
  box-shadow: inset 0 0 0 3px rgb(255, 90, 90);
  transition: color 0.3s;
}

.back-to-list-button:hover {
  background-color: rgb(255, 235, 50, 0.3);
  color: red;
  box-shadow: inset 0 0 0 3px rgb(255, 183, 50);
  transition: color 0.3s;
}

/* @media */